body{
    display: block;
    margin: 4%;
    background-color: #FFF5EE;
    font: 18px/20px "Open Sans", Arial, sans-serif;
}


.header { 
         padding: 10px;
         min-height: 50px;
         position: relative;
         padding-left: 20px;
         padding-right: 20px;
         border: 1px solid #9e1616;
         border-radius: 25px;
         background-color: #228B22;
         margin: 0px;
       }
 

 h1{ 
        font-family: Georgia;
        font-size: 50px;
        background-repeat: no-repeat;
        background-position: center left;
        vertical-align: middle;
        line-height: 50px;
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #ffffff;
        display: block;
        float: left;
 }
        
        
#navbar {
    position: relative;
    float: right;
    display: inline-block;
    background-position: bottom left;
    
    
}
     
 
 #sidebar{}
 
 .content{
     margin-left: 200px;
     margin-right: 50px;
     padding-bottom: 10px;
     background-color: #FFFAFA;
     border: 1px solid black;
     
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     
    
     
 }
     






        
   
/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

